{% extends 'base.html' %}

{% block main %}
<h1 class="prose prose-indigo text-indigo-600">AWS Demo</h1>

<div class="shadow sm:rounded-md sm:overflow-hidden">
    <div class="px-4 py-5 bg-white">
        <p>A simple Demo app to connect to AWS S3 to upload and list files.</p>

        <h2>Requirements</h2>
        <p>In order to run this app you will first need:</p> 
        <ul>
            <li>An Amazon AWS account. A Identity and Access Management (IAM) user with Amazon S3 permission (e.g. AmazonS3FullAccess)</li>
            <li>An S3 bucket already created.</li>
            <li>Ensure you create the following files for your AWS Credentials: <code>~/.aws/credentials</code> and <code>~/.aws/config</code></li>
            <li>In your <code>~/.aws/credentials</code> file you should have the following:
                <p>
                    <pre><code>
[default]
aws_access_key_id = YOUR_ACCESS_KEY
aws_secret_access_key = YOUR_SECRET_KEY
                    </code></pre>
                </p>
            </li>
            <li>You may also want to set a default region. This can be done in the configuration file. By default, its location is at <code>~/.aws/config</code>:
            <p>
                <pre><code>
[default]
region=us-east-1
                </code></pre>
            </p></li>
        </ul>

        <h2>Instructions</h2>
        <ol>
            <li>
                Visit the <a href="{{ url_for('upload_file') }}">Upload file</a> page.
            </li>
            <li>Select an image file to upload and then select Upload.</li>
            <li>Next, visit the <a href="{{ url_for('files') }}">View Files</a> page and see the list of files currently in the S3 bucket.</li>
            <li>You can also check your Amazon S3 account to see that the file also shows up there.</li>
        </ol>
    </div>
</div>
{% endblock %}